<a href="https://colab.research.google.com/github/margauxreynolds/ds1002-tsh3ut/blob/main/tsh3ut_week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [17]:
#1: containing a string
colors = ["red","blue","pink","purple"]

def find_colors(colors):
  for c in colors:
    if (c == "pink"):
      print("Found pink!")
    else:
      print("Not pink.")

find_colors(colors)

Not pink.
Not pink.
Found pink!
Not pink.

In [18]:
#2: containing a boolean
num1=10
num2= 5

num1 == num2

False

In [19]:
#3: containing an integer
x = 2+2
x

4

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [20]:
# rite a command that extracts the first 8 characters of the string.
string1 = "Go Hoos, Beat JMU!"
string1[:8]

'Go Hoos,'

In [21]:
#Write a command that extracts the last 4 characters of the string.
string1 = "Go Hoos, Beat JMU!"
string1[-4:]

'JMU!'

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [24]:
# Put answers below
first_name = "Margaux"
last_name = "Reynolds"
first_name + " " + last_name

'Margaux Reynolds'

In [38]:
word1 = "Good"
word2 = "Morning!"

def phrase(word1, word2):
  print(word1 + " " + word2)

phrase(word1, word2)

Good Morning!

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [29]:
var1 = 9
var2 = 12
var3 = 48
var4 = 4

In [30]:
var3//var2

4

In [32]:
var1*var4

36

In [33]:
var4**2

16