<a href="https://colab.research.google.com/github/margauxreynolds/ds1002-tsh3ut/blob/main/tsh3ut_week_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 9

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## Functions

In the cell below define a function that takes one parameter (in the form of a list) called `names` and returns a simple greeting for each name, such as

    "Hello Natasha, it's so nice to meet you"
    "Hello Sid, it's so nice to meet you"

Define the function and run it, and in another cell below call the function populated with a var of a list of names.

In [109]:
def greetings(namelist):
  for name in namelist:
    print("Hello " + name + ", it's so nice to meet you!")

In [110]:
namelist = ["Margaux", "Lauren", "Caroline", "Julia"]
greetings(namelist)

Hello Margaux, it's so nice to meet you!
Hello Lauren, it's so nice to meet you!
Hello Caroline, it's so nice to meet you!
Hello Julia, it's so nice to meet you!

Using the following list, pass it into a function you define that will evaluate the list and return a count of how many items is in it. Be creative.

```
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]
```

In [120]:
mylist = ["Toronto","Buffalo","Syracuse","Albany","Schenectady","Brooklyn","Rome","Ithaca"]

def count_items(list):
  count = 0
  for item in list:
    count += 1
  return count

count_items(mylist)

8

## Input Validation

Write a function below that defines two input parameters as `bool` and returns a `bool`.
In the cell below that, populate two variables with two different bools (True and False)
and pass them into a call of your function.

In [137]:
def true_or_false(bool1, bool2):
  return bool1 and bool2

In [138]:
var1 = True
var2 = False

true_or_false(var1, var2)

False

## Global Variables

Define a global variable and populate it with a data type (int, str, bool, float, etc.)

In [125]:
num = 20

Now create a function that prints out the global variable. Call the function and display the value of the var.

In [126]:
def print_global_var():
  print(num)

print_global_var()

20

Now create a function that creates its own global var and populates it.
Call the function and then print out the global var from outside of the function.

In [127]:
def create_global_var():
  global xx
  xx = 100

create_global_var()
print(xx)

100

Finally, write a function that updates the value of the global var you defined 3 cells above.

1. Within the function, print out the global var you defined 3 cells above.
2. Update the global var to have a new value.
3. Within the function, print the new value of the global var.

Call the function and once more print out the value of the global var from outside of the function.

In [128]:
def update_global_var():
  global num
  num = 10
  print(num)

update_global_var()
print(num)

10
10